# virtual environment
.venv/

# data files
data/
*.csv
*.xlsx
*.parquet

Helping_Files/
*.csv
*.xlsx
*.parquet

Sales_data/
*.csv
*.xlsx
*.parquet

# outputs
Outputs/

# pycharm
.idea/

# notebook cache
.ipynb_checkpoints/